@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
html{
    max-height: fit-content !important;
}
*, *::after, *::before {
    font-family: "Cairo" !important;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

.ant-btn-variant-outlined {
    background-color: var(--black);
}

:root {
    font-family: "Open sans";
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --appborder: 2px solid var(--green);

    --black: #1c1917;
    --green: #93b256;
    --text-primary: white;
    --text-secondary: rgb(201, 201, 201);

    --app-width: 1200px;
    --appmargin: 0 1.5rem;
    color: rgb(255, 255, 255);
}

body {
    padding: 1.2rem 0;
    /* display: flex; */
    /* place-items: center; */
    background-color: var(--black);
    height: fit-content;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden
}

*::-webkit-scrollbar {
    width: 0px;
    background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
    width: 0px !important;
    background: var(--green);
}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}

p {
    color: var(--text-secondary);
}


@media only screen and (max-width: 480px) {
    :root {
        --appmargin: 0 0.7rem;
    }
}

@keyframes infinitescroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}