@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

/* .ant-btn-primary{
    all: unset !important;
    margin: 10px !important;
}
.ant-btn-primary:hover{
    all: unset !important;
    margin: 10px !important;
} */
:root {
    font-family: "Arsenal";
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    --black: #1c1917;
    --green: #93b256;
    --text-primary: white;
    --text-secondary: rgb(201, 201, 201);

    --app-width: 1200px;
    --appmargin: 0 1.5rem;
    color: rgb(255, 255, 255);
}

body {
    padding: 1.2rem 0;
    /* display: flex; */
    /* place-items: center; */
    background-color: var(--black);
    min-height: fit-content;
    width: 100%;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 0px;
    background-color: var(--black);
}

*::-webkit-scrollbar-thumb {
    width: 0px !important;
    background: var(--green);
}
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
    display: none;
}

div::-webkit-scrollbar {
    display: none;
}


@media only screen and (max-width: 480px) {
    :root {
        --appmargin: 0 0.7rem;
    }
}
