.RecruitersCmp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.RecruitersCmp .TitleText {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.RecruitersCmp .recGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
