.TitleText_SS{
    text-align: left;
    font-size: 2.5rem;
    padding: 0.7rem 1rem;
    border: 2px solid #93B256;
}

.SalaryStats{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-right: 2px solid #93B256;
    border-bottom: 2px solid #93B256;
    
}

.SalaryStats .SalaryText{
    flex: 1 1 200px;
    padding:1.5rem;
    font-size: 1.2rem;
}

.SalaryStats .salary-piechart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.SalaryStats .salary-piechart .MuiPieArc-root{
    cursor: pointer;
}



/*media-queries for mobile devices*/

@media only screen and (max-width: 1000px) {
    .SalaryStats{
        flex-direction: column;
        align-items: center;
    }

    .SalaryStats .SalaryText{
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    
    .TitleText_SS{
        font-size: 2rem;
    }
}

@media screen and (max-width: 570px) {

    .SalaryStats .SalaryText{
        font-size: 1rem;
    }
}
