.custom-button {
    border: 2px solid var(--green) !important;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    padding: 0.75rem 3rem 0.75rem 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s;
    position: relative;
  }

  .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--green);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    transform: rotate(45deg) scale(1.4);
    position: absolute;
    right: 10px;
  }

  .custom-button:hover {
    background: var(--green);
  }

  .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
  }

  .custom-button:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
  }

  .custom-button:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
  }