
.content-wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 1485px; */
  margin: 0 auto;
}

.topic-2 {
  position: relative;
  padding: 0.7rem;
  border: 2px solid var(--green);
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
}

.grid-2 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  /* padding: 20px; */
  width: 100%;
  border: 2px solid var(--green);
}

.project-1 {
  position: relative;
  border: 1px solid var(--green);
  width: 100%;
  min-height: 169px;
  padding: 10px;
  box-sizing: border-box;
  /* padding: 15px;
  background: #0a0a0a;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

p {
  margin: 0;
  word-wrap: break-word;
}
.project-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--green);
  margin-bottom: 10px;
  line-height: 1.2;
}

.project-detail {
  margin-bottom: 5px;
  line-height: 1.2;
  color: #ccc;
  font-size: 1.05rem;
}

.see-full-btn {
  margin: 1rem;
  align-self: end;
  cursor: pointer;
  transition :all ease 0.2s;
  position :relative;
  width: fit-content;
  font-size: 1.2rem;
}

.see-full-btn:hover {
  color: var(--green)
}
.see-full-btn::before{
  position: absolute;
  bottom: 0;
  content: '';
  width: 0px;
  height: 2px;
  background-color: var(--green);
  opacity: 0;
  transition: all ease 0.2s;
}

.see-full-btn:hover::before {
  opacity: 1;
  width: 100%;
}
/* button{
    background-color: transparent;
    border: none;
    color: var(--green);
    font-size: 1.2rem;
    cursor: pointer;

} */
/* .list a:hover {
  text-decoration: underline;
} */

@media (max-width: 900px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
