@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");


.Footer-Frame {
    font-family: "Arsenal";
    color: white;
    height: 350px;
    background-color: #1C1917;
    margin: var(--appmargin);;
}

.Footer-Frame .Footer {
    display: flex;
    border: 2px solid #93B256;
    border-top: 0;
    height: 100%;
}

.Footer-Frame .Footer .Lower {
    flex: 100;
    display: flex;
    position: relative;
}

.Footer-Frame .Footer .Lower .Left-Box {
    flex: 3;
    border-right: 2px solid #93B256;
    padding: 1rem;
    font-size: min(3.8vw, 20px);
}

.Footer-Frame .Footer .Lower .Left-Box .Title {
    position: relative;
    font-size: min(6vw, 25px);
    font-weight: bold;
    background-color: #1C1917;
    line-height: 1.2em;
    padding-bottom: 1rem
}

.Footer-Frame .Footer .Lower .Left-Box .address {
    background-color: #1C1917;
    line-height: 1.2em;

}


.Footer-Frame .Footer .Lower .Mid-Box {
    flex: 9;
    border-right: 2px solid #93B256;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.Footer-Frame .Footer .Lower .Mid-Box .Image {
    margin: auto;
    flex: 1;
    max-height: 80%;
    width: 100%;
    background-image: url(/assets/socit-green.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Footer-Frame .Footer .Lower .Mid-Box .Text {
    display: flex;
    width: 100%;
    color: rgba(256, 256, 256, 0.75);
}

.Footer-Frame .Footer .Lower .Mid-Box .Text .Left {
    flex: 1.5;
    padding-left: 20px;
    padding-top: 14px;
    font-size: min(3.8vw, 16px);
    height: 1em;

}

.Footer-Frame .Footer .Lower .Mid-Box .Text .Right {
    flex: 1;
    text-align: right;
    padding-right: 20px;
    font-size: min(4vw, 22px);
}

.Footer-Frame .Footer .Lower .Right-Box {
    flex: 3;
    padding: 1rem;
    font-size: min(4vw, 24px);
}



.Footer-Frame .Footer .Lower .Right-Box .Links .item {
    font-size: min(3.8vw, 20px);
    line-height: 1.2em;
}

.Footer-Frame .Footer .Lower .Right-Box .Links .Title {
    margin-top: 10px;
    font-size: min(5vw, 25px);
    font-weight: bold;
    line-height: 1.2em;
}

@media screen and (max-width: 960px) {
    .Footer-Frame {
        height: fit-content;
    }

    .Footer-Frame .Footer .Lower .Mid-Box .Text {
        flex-direction: column;

        .Right,
        .Left {
            text-align: center;
            padding: 0;
            padding-bottom: 10px;
            border-bottom: 2px solid #93B256;

        }

        .Left {
            order: 2;
            border: 0;
            padding-bottom: 15px;
            padding-top: 10px;
        }
    }

    .Footer-Frame .Footer .Lower {
        flex-direction: column;
    }

    .Footer-Frame .Footer .Lower .Left-Box .Logo_mob {
        visibility: visible;
        background-image: url(/assets/socit-green.webp);
        background-size: contain;
        width: 100%;

        margin: auto;
        background-repeat: no-repeat;
        height: 300px;
        border-bottom: 2px solid #93B256;
        background-position: center;
    }

    .Footer-Frame .Footer .Lower .Left-Box {
        order: 1;
        border: 0;
        padding: 0;

        .mob_middle {
            display: flex;
            padding-top: 24px;
            padding-bottom: 80px;
            border-bottom: 2px solid #93B256;
            .wrapper_left {
                flex: 3;
                padding-left: 15px;
            }

            .wrapper_right {
                flex: 2;
            }
        }

    }

    .Footer-Frame .Footer .Lower .Right-Box {
        order: 2;
    }

    .Footer-Frame .Footer .Lower .Mid-Box {
        order: 3;
        border: 0;
    }

    .Footer-Frame .Footer .Lower .Mid-Box .Image {
        visibility: hidden;
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper {
        display: flex;
        /* padding-right: 24px; */
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper .Links {
        flex: 1;
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper {
        #shift_right {
            text-align: right;
        }
    }
}

@media screen and (max-width: 580px) {
    .Footer-Frame .Footer .Lower .Left-Box .Logo_mob {

        height: 200px;

    }
}