@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.Footer-Frame {
    font-family: "Arsenal", sans-serif;
    color: white;
    background-color: #1C1917;
    height: fit-content;
}

.Footer-Frame .Footer {
    border: 2px solid var(--green);
    border-top: 0;
    height: 100%;
}

.Footer-Frame .Footer .Lower {
    display: flex;
    position: relative;
    flex: 100;
}

.Footer-Frame .Footer .Lower .Left-Box {
    flex: 3;
    border-right: 2px solid var(--green);
    border-top: 2px solid var(--green);
    padding: 1rem;
    font-size: min(3.8vw, 20px);
}

.Footer-Frame .Footer .Lower .Left-Box .Title {
    margin-top: 10px;
    font-size: min(6vw, 25px);
    font-weight: bold;
    background-color: #1C1917;
    line-height: 1.2em;
    padding-bottom: 1rem;
}
#ql{
    display: none;
    max-height: 0;
}
#breaker_line{
    /* margin: 0 1px; */
    min-height: 100%;
    min-width: 2px;
    background-color: var(--green);
}
#no_space{
    margin-top: -15px;
    margin-bottom: 40px;
}
#details{
    margin-top: 10px;
}
#fixed_height{
    height: 260px;
}
.Footer-Frame .Footer .Lower .Left-Box .mob_middle .wrapper_right{
    display: none;
    max-height: 0;
}
.Footer-Frame .Footer .Lower .Left-Box .address {
    background-color: #1C1917;
    line-height: 1.2em;
}

.Footer-Frame .Footer .Lower .Mid-Box {
    flex: 9;
    min-height: max(45vh, 400px);
    border-right: 2px solid var(--green);
    border-top: 2px solid var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer-Frame .Footer .Lower .Mid-Box .Image {
    flex: 1;
    width: 100%;
    background: url(/assets/socit-green.webp) no-repeat center/contain;
    margin: auto;
}

.Footer-Frame .Footer .Lower .Mid-Box .Text {
    display: flex;
    width: 100%;
    color: rgba(256, 256, 256, 0.75);
}
.more_button_mob{
    display: none;
}
.Footer-Frame .Footer .Lower .Mid-Box .more_button {
    padding: 1.5rem;
    font-size: 1.2rem;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--green);
    margin-bottom: 1rem;
}

.Footer-Frame .Footer .Lower .Mid-Box .more_button .text {
    margin: 0 20px 0 12px;
}

.Footer-Frame .Footer .Lower .Mid-Box .Text .Right {
    flex: 1;
    text-align: center;
    padding-bottom: 8px;
    font-size: min(4vw, 22px);
}

.Footer-Frame .Footer .Lower .Right-Box {
    position: relative;
    flex: 3;
    padding: 1rem;
    font-size: min(4vw, 24px);
    border-top: 2px solid var(--green);
}

.Footer-Frame .Footer .Lower .Right-Box .Links .item {
    font-size: min(3.8vw, 20px);
    line-height: 1.2em;
}

.Footer-Frame .Footer .Lower .Right-Box .Links .Title {
    margin-top: 6px;
    font-size: min(5vw, 25px);
    font-weight: bold;
    line-height: 1.2em;
}
.Footer-Frame .Footer .Lower .Left-Box .Logo_mob{
    min-height: unset;
    height: 0;
}
.icons {
    display: none;
    max-height: 0;
}

.copyright {
    border: 2px solid var(--green);
    border-top: 0;
    padding: 30px;
    text-align: center;
}

/* Responsive Design */
/* mobile view triggers here.... */
@media screen and (max-width: 960px) {
    .Footer-Frame .Footer .Lower .Right-Box .wrapper #fixed_height{
        height: 260px;
        max-width: 130px;
    }
    #ql_mob_hidden{
        display: none;
        max-height: 0;
    }
    .Footer-Frame .Footer .Lower .Right-Box .wrapper #ql{
        display: block;
        max-height: unset;
        height: fit-content;
 
    }
    .Footer-Frame .Footer .Lower .Right-Box .wrapper #fixed_height{
        display: none;
        max-height: 0;
    } 
    .Footer-Frame {
        height: fit-content;
    }

    .Footer-Frame .Footer .Lower {
        flex-direction: column;
        max-height: fit-content;
    }

    .Footer-Frame .Footer .Lower .Mid-Box {
        order: 3;
        border: 0;
        min-height: 20px;
        max-height: 20px;
        display: none;
    }

    .Footer-Frame .Footer .Lower .Mid-Box .Image {
        display: none;
    }

    .Footer-Frame .Footer .Lower .Mid-Box .Text {
        flex-direction: column;
        text-align: center;
    }

    .Footer-Frame .Footer .Lower .Mid-Box .Text .Left {
        order: 2;
        padding: 10px 0 15px;
        border: 0;
    }

    .Footer-Frame .Footer .Lower .Left-Box {
        order: 1;
        border: 0;
        padding: 0;
    }

    .Footer-Frame .Footer .Lower .Left-Box .Logo_mob {
        display: block;
        background: url(/assets/socit-green.webp) no-repeat top/contain;
        width: 85%;
        min-height: 70vw;
        margin: auto;
        position: relative;
    }

    .Footer-Frame .Footer .Lower .Left-Box .mob_middle {
        display: flex;
        border-top: 2px solid var(--green);
        border-bottom: 2px solid var(--green);
    }

    .Footer-Frame .Footer .Lower .Left-Box .mob_middle .wrapper_left {
        padding-top: 20px;
        flex: 1;
        padding-left: 15px;
    }

    .Footer-Frame .Footer .Lower .Left-Box .mob_middle .wrapper_right {
        padding-top: 20px;
        display: block;
        max-height: unset;
        flex: 1;
        padding-right: 15px;
        text-align: right;
    }

    .Footer-Frame .Footer .Lower .Right-Box {
        position: relative;
        order: 2;
        /* min-height: 500px; */
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper {
        display: flex;
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper .Links {
        flex: 1;
    }

    .Footer-Frame .Footer .Lower .Right-Box .wrapper #shift_right {
        text-align: right;
    }

    .copyright {
        border-top: 2px solid var(--green);
        padding: 30px;
        text-align: center;
    }

    .icons {
        /* width: 186px; */
        position: absolute;
        top: 50%;
        left: calc(50% - 75px);
        display: block;
        z-index: 20;
    }

    .more_button_mob {
        display: block;
        padding: 1.5rem;
        /* width: 180px; */
        font-size: 1.2rem;
        color: black;
        display: flex;
        align-items: center;
        /* border-radius: 10px; */
        background-color: var(--green);
        margin-bottom: 60px;
        position: absolute;
        bottom: 1vw;
        transform: translateX(-50%);
        left: 50%;
 
    }
}

@media screen and (max-width: 500px) {
    .copyright {
        border: 2px solid var(--green);
        padding: 12px;
        text-align: center;
        font-size: 0.8rem;
    }
}