
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #right_align{
        text-align: right;
    }
    
    .topic {
        padding: 0.7rem;
        border: 2px solid var(--green);
        width: 100%;
        font-size: 2rem;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: min(42vw, 600px);

        .left, .right {
        
            height: 100%;
            border: 2px solid var(--green);
            padding: 1rem;
            font-size: 1.2rem;
        }

        .left {
            padding: 0;
            min-width: min(40vw, 800px);
            .img-box {
                background: url("/assets/bg-circuit.png");
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
            }
        }

        .right p{
            padding-bottom: 2rem;
        }
        .right {
            /* text-align: right; */

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            height: 100%;

        }
      
    }

}

@media screen and (max-width: 1000px) {
    .content-wrapper {
        .topic {
            font-size: 1.5rem;
        }
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(50vw + min(80vw, 500px));


            .left, .right {
                width: 100%;
                min-height: 50vw;
                font-size: min(3.3vw, 1.5rem);
                
            }
            .left{
                border: none;                
            }
            #order_1{
                order: 1;
            }
            #order_2{
                order: 2;
            }
            .right{
                min-height: min(80vw, 500px);
                min-width: calc(100vw - 3rem);

            }
            .img-box {
                background: url("/assets/bg-circuit.png");
                min-height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                border: none;
            }
            .right p{
                padding-bottom: 0;

            }
            .overflow{
                max-width: 800px;
            }
            .button_know_more{
                padding-top: 15px;
            }
        }
    }
    
}