.academics-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .topic {
        padding: 0.7rem 1rem;
        border: 2px solid var(--green);
        width: 100%;
        font-size: 2rem;
        display: flex;
        justify-content: flex-end;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;

        .left,
        .right {
            /* flex: 1; */
            width: 50%;
            height: 100%;
            border: 2px solid var(--green);
            padding: 1rem;
            font-size: 1.2rem;
        }

        .left {
            padding: 0;
            min-width: min(40vw, 800px);
            height: 640px;
            .img-box {
                background: url("/assets/gallery/gallery-x-2.webp");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
            }
        }

        .right p {
            padding-bottom: 2rem;
        }
        .right {
            display: flex;
            align-items: flex-end;
            justify-content: start;
            flex-direction: column;
            height: 640px;
            text-align: right;

            .semester-links {
                display: flex;
                justify-content: right;
                flex-wrap: wrap;
                gap: 0;

                a {
                    text-decoration: none !important;
                }

                .sem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10ch;
                    border: 2px solid var(--green);
                    margin-left: -2px;
                    margin-top: -2px;
                    padding: 0.5rem;
                    transition: all 0.3s ease;
                }

                .sem:hover {
                    background-color: var(--green);
                    color: var(--black);
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .academics-wrapper {
        .content {
            flex-direction: column;
            height: auto;
            flex-flow: wrap-reverse;

            .left,
            .right {
                width: 100%;
                height: auto;
            }

            .left {
                height: 70vh;
            }

            .right {
                align-items: flex-end;
                text-align: right;
            }
        }
    }
}
