
.content-wrapper-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .topic {
        padding: 0.7rem;
        border: 2px solid var(--green);
        width: 100%;
        font-size: 2.5rem;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;

        .left, .right {
            width: 50%;
            height: 100%;
            border: 2px solid var(--green);
            padding: 1rem;
            font-size: 1.2rem;
        }

        .left {
            padding: 0;
            min-width: min(40vw, 800px);
            height: 70vh;
            .img-box {
                background: url("/assets/gallery/gallery-x-4.webp");
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat
            }
        }

        .right p{
            padding-bottom: 2rem;
        }
        .right {
            height: 70vh;
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;            
        }
    }
}

@media screen and (max-width: 1000px) {
    .content-wrapper-about {
        .topic {
            font-size: 1.5rem;
        }
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .left, .right {
                width: 100%; 
                height: auto;
            }
            .right {
                height: max(50vh, auto);
            }
            .left {
                height: 70vh;
            }
            .right p{
                padding-bottom: 1rem;
            }
            .overflow{
                max-width: 800px;
            }
            .button_know_more{
                padding-top: 15px;
            }
        }
    }
    
}